html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  /* Animated gradient background */
  background: linear-gradient(75deg, #1e6aa8, #f1c40f, #2980b9);
  background-size: 300% 300%;
  animation: flow 12s ease infinite;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Navbar */
.navbar {
  background-color: #2980b9;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar h1 {
  font-size: 30px;
  font-align: center;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.toggle-btn {
  background-color: #19557c;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 3px;

}

.toggle-btn:hover {
  background-color: #3498db;
}

.sidebar {
  background-color: #34495e;
  color: white;
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  /* ilalim ng navbar */
  right: 20px;
  /* gilid sa kanan */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.sidebar.hidden {
  display: none;
}

/* Container */
.container {
  display: flex;
  Flex-direction: row;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #34495e;
  color: white;
  width: 200px;
  padding: 20px;
}

.sidebar h2 {
  background-color: #2980b9;
  margin-bottom: 15px;
  font-size: 18px;
  border: none;
  padding-bottom: 12px 8px;
  border-radius: 5px;
  text-align: center;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 8pxs;
  margin-bottom: 8px;
  border-radius: 5px;

}

.sidebar a:hover {
  background-color: #2c3e50;
}

.main {
  flex: 1;
  padding: 20px;
  background-color: transparent;
}


/* Card */
.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 15px;
}

/* Buttons */
.btn {
  background-color: #2980b9;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3498db;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #bdc3c7;
}

th {
  background-color: #2980b9;
  color: white;
}

/* Footer */
.footer {
  text-align: center;
  padding: 11px;
  background-color: #2c3e50;
  color: white;
  font-size: 14px;
}